//color
$black: #3A3A3A;
$blackBold: #272727;
$gray : #4E4E4E;
$white: #ffffff;

// inner-size
$inner: 970px;
// padding
// letter-spacing
$ls8: 0.08em;
// font-family
$base: 'Yu Mincho Light','YuMincho','Yu Mincho','游明朝体','メイリオ',sans-serif;
// transition time
$ts-time: 0.3s;