@use '../global' as g;
.p-bg {
  margin-top: 14.8rem;
  @include g.mq(md) {
    margin-top: 12.8rem;
  }
}

.p-bg__cont {
  position: absolute;
  top: 50%;
  left: 2.6rem;
  transform: translateY(-50%);
  @include g.mq(sm) {
    left: 7.5vw;
  }
}
.p-bg__title {
  font-size: 4rem;
  letter-spacing: g.$ls8;
  position: relative;
  @include g.mq(md) {
    font-size: clamp(4rem, 7.5vw, 9.6rem);
    min-height: 0;
  }
  @include g.mq(lg) {
    &::before {
      content: '';
      display: block;
      position: absolute;
      bottom: -20px;
      left: 0;
      width: calc((490 / 1280) * 100vw);
      height: 1px; 
      background: g.$gray;
    }
  }
  @include g.mq(xl) {
    font-size: 9.6rem;
  }
}

.p-bg__text {
  font-size: 1.6rem;
  margin-top: 2.4rem;
  letter-spacing: g.$ls8;
  @include g.mq(md) {
    font-size: clamp(1.6rem, 1.875vw, 2.4rem);
    min-height: 0;
    margin-top: 7rem;
  }

  @include g.mq(xl) {
    font-size: 2.4rem;
  }
}