@use '../global' as g;

.p-news {

}

.p-news__title {

}

.p-news__inner {

}

.p-news__list {
  margin-top: 3.2rem;
  @include g.mq(md) {
    margin-top: 6.4rem;
  }
}

.p-news__item {
  a {
    display: flex;
    align-items: center;
    padding: 1.4rem 0;
    border-top: 1px solid g.$white;
    @include g.mq(md) {
      padding: 2rem 0;
    }
    &:last-child() {
      border-bottom: 1px solid g.$white;
    }
  }
}


.p-news__info {
  width: 7.1rem;
  time {
    font-size: 1.2rem;
    @include g.mq(md) {
      font-size: 1.3rem;
    }
  }
}

.p-news__lead {
  width: calc(100% - 71px);
  margin-left: 1.7rem;
  @include g.mq(md) {
    margin-left: 10.6rem;
  }
  & > p {
    font-size: 1.4rem;
    @include g.mq(md) {
      font-size: 1.6rem;
    }
  }
}

.p-news__btn {
  margin-top: 4.8rem;
  @include g.mq(md) {
    margin-top: 6.4rem;
  }
}

/*==========================================================
# 下層ページ
========================================================= */

.p-news-row {
  padding: 6.4rem 0 8rem 0;
  @include g.mq(md) {
    padding: 10.4rem 0;
  }
}

.p-news-row__inner {

}

.p-news-row__list {
  @include g.mq(md) {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    padding:0 1.6rem;
  }
}

.p-news-row__item {
  position: relative;
  width: 240px;
  margin:0 auto;
  &:not(:first-child) {
    margin-top: 4.8rem;
  }
  @include g.mq(md) {
    width: calc(33.33% - 52px * 2 / 3);
    &:not(:nth-child(3n + 1)) {
      margin-left: 5.2rem;
    }
    &:not(:first-child) {
      margin-top: 0;
    }

    &:nth-child(n + 4) {
      margin-top: 5.6rem;
    }
  }


  aspect-ratio: 1 / 1;
  border: 1px solid g.$white;
  cursor: pointer;
}

.p-news-row__time {
  font-size: 1.3rem;
  position: absolute;
  top: 2.4rem;
  left: 1.8rem;
}

.p-news-row__title {
  font-size: 1.6rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
}

.p-news-row__time {

}

/*==========================================================
# modal用のスタイル
========================================================= */

.hidden {
  visibility: hidden;
  opacity: 0;
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 560px;
  width: 100%;
  background-color: g.$white;
  padding: 3.2rem 5.6rem 6.4rem;
  box-shadow: 0 .4rem .6rem rgba(g.$gray, 0.3);
  z-index: 1000;
  transition: all 0.5s;
  color: g.$gray;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(g.$gray, 0.5);
  backdrop-filter: blur(4px);
  z-index: 100;
  transition: all 0.5s;
}

.btn--close-modal {
  position: absolute;
  top: 0.5rem;
  right: 2rem;
  font-size: 4rem;
  cursor: pointer;
  border: none;
  background: none;
}


.modal__time {
  font-size: 1.3rem;
}

.modal__title {
  font-size: 2rem;
  font-weight: 600;
  text-align: center;
  margin-top: 1.6rem;
}

.modal__content {
  :where(h1, h2, h3, h4, h5, h6, p, figure,ul) {
    margin-top: revert;
    margin-bottom: revert;
    padding: revert;
    list-style: revert;
  }

  p {
    font-size: 1.4rem;
  }
}

/* ページネーション
------------------------------------*/
.pagination {
  margin-top: 6.4rem;
  @include g.mq(md) {
    margin-top: 9.6rem;
  }
}
.nav-links {
  display: flex;
  justify-content: center;
  gap: 1.6rem;
}
.page-numbers {
  display: inline-block;
  width: 4rem;
  aspect-ratio: 1 / 1;
  font-size: 1.3rem;
  display: grid;
  place-items: center;
  color: g.$white;
  border: 1px solid g.$white;

  &.current {
    color: g.$gray;
    background: g.$white;
  }
}