---
import Layout from '../layouts/Layout.astro';
---

<Layout title="about">
  <div class="c-bg c-bg--about">
    <h2 class="c-title c-title--absolute">
      <span class="c-title__main">ABOUT US</span>
      <span class="c-title__sub u-margin--1">私たちについて</span>
    </h2>
  </div>

  <section class="p-about-row">
    <div class="p-about-row__inner l-container">
      <div class="p-about-row__top">
        <p class="p-about-row__text">
          あなたの人生に寄り添う家を<br>他にはない、高いクオリティでお届けします
        </p>
        <p class="p-about-row__text">
          理想の区間を形にし、快適さと美しさを融合させた豪華な住環境をご提案します。<br>
          一流の建築家とデザイナーがあなたの要望をくみ取り、独創的なアイディアと最新技術を駆使して、唯一無二の住まいを実現いたします。
        </p>
        <p class="p-about-row__text">
          私たちは常にトレンドや最新のデザインを取り入れています。自然光の取り入れや風通しの良さを考慮した設計や、個々のスペースに合わせたカスタム家具の製作など、細部にまでわたるカスタマイズが可能です。
        </p>
      </div>
      <ul class="p-about-row__list ">
        <li class="p-about-row__item l-grid-about">
          <h3 class="p-about-row__title">オーダーメイドの注文住宅専門</h3>
          <figre class="p-about-row__img">
            <img src="/assets/images/img-about_row1.webp" alt="">
          </figre>
          <div class="p-about-row__textArea">            
            <p>
              私たちはオーダーメイドの注文住宅に特化した会社です。お客様の夢や要望に合わせて、一から住まいをデザイン・建築いたします。一流の建築家とデザイナーがお客様の要望をくみ取り、独創的なアイディアと最新技術を駆使して、唯一無二の住まいを実現いたします。私たちはお客様のライフスタイルや好みを細部まで反映した家づくりを追求し、あなたの人生に寄り添う家をお届けします。
            </p>
          </div>
        </li>
        <li class="p-about-row__item l-grid-about l-grid-about--reverse">
          <h3 class="p-about-row__title">高品質なクラフトマンシップとデザイン</h3>
          <figre class="p-about-row__img">
            <img src="/assets/images/img-about_row2.webp" alt="">
          </figre>
          <div class="p-about-row__textArea">
            <p>
              私たちの家づくりは、厳選された素材と最高品質の工芸品を使用し、細部へのこだわりと優れた施工技術によって完成度の高い住まいを提供します。常にトレンドや最新のデザインに敏感であり、住まいの内外を彩る美しいエレメントを提案します。他にはない、高いクオリティと独自のデザイン性を兼ね備えています。
            </p>
          </div>
        </li>
        <li class="p-about-row__item l-grid-about">
          <h3 class="p-about-row__title">持続可能性とエネルギー効率への取り組み</h3>
          <figre class="p-about-row__img">
            <img src="/assets/images/img-about_row3.webp" alt="">
          </figre>
          <div class="p-about-row__textArea">
            <p>
              私たちは持続可能な住まいづくりにも力を入れています。最新の環境技術を駆使し、住まいの快適さと環境負荷の軽減を両立させます。エコフレンドリーな素材や設備を使用し、住まいが地球環境に配慮した持続可能な選択肢となるように努めています。豪華さと環境への貢献を両立させることができる、理想的な住環境を提供します。
            </p>
          </div>
        </li>
      </ul>
    </div>
  </section>


</Layout>