---
import Layout from '../layouts/Layout.astro';
---

<Layout title="news">
  
  <div class="c-bg c-bg--news">
    <h2 class="c-title c-title--absolute">
      <span class="c-title__main">NEWS</span>
      <span class="c-title__sub">ニュース</span>
    </h2>
  </div>

  <section class="p-news-row">
    <div class="p-news-row__inner l-container--news">
      <ul class="p-news-row__list">

        <li class="p-news-row__item">
  
          <time datetime="2023/06/24" class="p-news-row__time">2023/06/24</time>
          <p class="p-news-row__title">モデルルーム見学会 in 大宮</p>  
          <div class="modal hidden">
            <div class="modal__wrapper">
              <button class="btn--close-modal">&times;</button>
              <time datetime="2023/06/24" class="modal__time">2023/06/24</time>
              <h3 class="modal__title">モデルルーム見学会 in 大宮</h3>
              <div class="modal__content">
                <p>
                  日程: 7/21<br>
                  時間: 午前10時から午後5時まで<br> 
                  場所: 埼玉県大宮市<br>
                </p>
                <p>
                  当日は、豪華なインテリアデザインや最新設備が揃ったモデルルームをご覧いただけます。また、弊社のスタッフが、皆様の疑問やご質問にお答えするために常駐しておりますので、どんな些細なことでもお気軽にお声掛けください。<br>
                  さらに、モデルルーム見学会にご参加いただいた方には、特別なキャンペーンや割引特典をご用意しております。
                </p>
              </div>
            </div>
          </div>
        </li>
      
        <li class="p-news-row__item">
          <time datetime="2023/06/24" class="p-news-row__time">2023/06/24</time>
          <p class="p-news-row__title"> 住まいのデザインセミナー</p>
          
          <div class="modal hidden">
            <div class="modal__wrapper">
              <button class="btn--close-modal">&times;</button>
              <time datetime="2023/06/24" class="modal__time">2023/06/24</time>
              <h3 class="modal__title"> 住まいのデザインセミナー</h3>
              <div class="modal__content">
                <p>
                  日程: 7/21<br>
                  時間: 午前10時から午後5時まで<br> 
                  場所: 埼玉県大宮市<br>
                </p>
                <p>
                  当日は、豪華なインテリアデザインや最新設備が揃ったモデルルームをご覧いただけます。また、弊社のスタッフが、皆様の疑問やご質問にお答えするために常駐しておりますので、どんな些細なことでもお気軽にお声掛けください。<br>
                  さらに、モデルルーム見学会にご参加いただいた方には、特別なキャンペーンや割引特典をご用意しております。
                </p>
              </div>
            </div>
          </div>
        </li>
      
        <li class="p-news-row__item">
          <time datetime="2023/06/24" class="p-news-row__time">2023/06/24</time>
          <p class="p-news-row__title">注文住宅完成見学会 in 横浜</p>
          
          <div class="modal hidden">
            <div class="modal__wrapper">
              <button class="btn--close-modal">&times;</button>
              <time datetime="2023/06/24" class="modal__time">2023/06/24</time>
              <h3 class="modal__title">注文住宅完成見学会 in 横浜</h3>
              <div class="modal__content">
                <p>
                  日程: 7/21<br>
                  時間: 午前10時から午後5時まで<br> 
                  場所: 埼玉県大宮市<br>
                </p>
                <p>
                  当日は、豪華なインテリアデザインや最新設備が揃ったモデルルームをご覧いただけます。また、弊社のスタッフが、皆様の疑問やご質問にお答えするために常駐しておりますので、どんな些細なことでもお気軽にお声掛けください。<br>
                  さらに、モデルルーム見学会にご参加いただいた方には、特別なキャンペーンや割引特典をご用意しております。
                </p>
              </div>
            </div>
          </div>
        </li>
      
        <li class="p-news-row__item">
          <time datetime="2023/06/24" class="p-news-row__time">2023/06/24</time>
          <p class="p-news-row__title">リノベーションセミナー</p>
          
          <div class="modal hidden">
            <div class="modal__wrapper">
              <button class="btn--close-modal">&times;</button>
              <time datetime="2023/06/24" class="modal__time">2023/06/24</time>
              <h3 class="modal__title">リノベーションセミナー</h3>
              <div class="modal__content">
                <p>
                  日程: 7/21<br>
                  時間: 午前10時から午後5時まで<br> 
                  場所: 埼玉県大宮市<br>
                </p>
                <p>
                  当日は、豪華なインテリアデザインや最新設備が揃ったモデルルームをご覧いただけます。また、弊社のスタッフが、皆様の疑問やご質問にお答えするために常駐しておりますので、どんな些細なことでもお気軽にお声掛けください。<br>
                  さらに、モデルルーム見学会にご参加いただいた方には、特別なキャンペーンや割引特典をご用意しております。
                </p>
              </div>
            </div>
          </div>
        </li>
        <li class="p-news-row__item">
          <time datetime="2023/06/24" class="p-news-row__time">2023/06/24</time>
          <p class="p-news-row__title"> モデルルーム見学会 in 宇都宮</p>
          
          <div class="modal hidden">
            <div class="modal__wrapper">
              <button class="btn--close-modal">&times;</button>
              <time datetime="2023/06/24" class="modal__time">2023/06/24</time>
              <h3 class="modal__title"> モデルルーム見学会 in 宇都宮</h3>
              <div class="modal__content">
                <p>
                  日程: 7/21<br>
                  時間: 午前10時から午後5時まで<br> 
                  場所: 埼玉県大宮市<br>
                </p>
                <p>
                  当日は、豪華なインテリアデザインや最新設備が揃ったモデルルームをご覧いただけます。また、弊社のスタッフが、皆様の疑問やご質問にお答えするために常駐しておりますので、どんな些細なことでもお気軽にお声掛けください。<br>
                  さらに、モデルルーム見学会にご参加いただいた方には、特別なキャンペーンや割引特典をご用意しております。
                </p>
              </div>
            </div>
          </div>
        </li>
        <li class="p-news-row__item">
          <time datetime="2023/06/24" class="p-news-row__time">2023/06/24</time>
          <p class="p-news-row__title">注文住宅完成見学会 in 盛岡</p>
          
          <div class="modal hidden">
            <div class="modal__wrapper">
              <button class="btn--close-modal">&times;</button>
              <time datetime="2023/06/24" class="modal__time">2023/06/24</time>
              <h3 class="modal__title">注文住宅完成見学会 in 盛岡</h3>
              <div class="modal__content">
                <p>
                  日程: 7/21<br>
                  時間: 午前10時から午後5時まで<br> 
                  場所: 埼玉県大宮市<br>
                </p>
                <p>
                  当日は、豪華なインテリアデザインや最新設備が揃ったモデルルームをご覧いただけます。また、弊社のスタッフが、皆様の疑問やご質問にお答えするために常駐しておりますので、どんな些細なことでもお気軽にお声掛けください。<br>
                  さらに、モデルルーム見学会にご参加いただいた方には、特別なキャンペーンや割引特典をご用意しております。
                </p>
              </div>
            </div>
          </div>
        </li>
      

      </ul>
      <div class="overlay hidden"></div>
      <nav class="navigation pagination">
        <!-- <h2 class="screen-reader-text">投稿ナビゲーション</h2> -->
        <div class="nav-links">
          <a class="page-numbers current" href="#">1</a>
          <span class="page-numbers">2</span>
          <a class="page-numbers" href="#">3</a>
        </div>
      </nav>
    </div>
  </section>

  <div class="p-bg c-bg c-bg--contact">
    <div class="p-bg__cont">
      <h2 class="p-bg__title">contact us</h2>
      <p class="p-bg__text">お気軽にご相談ください。</p>
    </div>
  </div>

</Layout>