---
import Layout from '../layouts/Layout.astro';
---

<Layout title="recruit">

  <div class="c-bg c-bg--recruit">
    <h2 class="c-title c-title--absolute">
      <span class="c-title__main">RECRUIT</span>
      <span class="c-title__sub">採用情報</span>
    </h2>
  </div>

  <section class="p-recruit-row">
    <div class="p-recruit-message">
      <h2 class="p-recruit-message__title c-title">
        <span class="c-title__main">MESSAGE</span>
        <span class="c-title__sub c-title__sub c-title-sub--large">メッセージ</span>
      </h2>
      <div class="p-recruit-message__inner l-container">
        <figure class="p-recruit-message__thumb">
          <img src="/assets/images/img-recruit-message.webp" alt="">
        </figure>
        <div class="p-recruit-message__body">
          <p>
            私たちは共に成長していく仲間を探しています。<br>
            チームワークを大切にし、お互いに刺激し合いながら、新たな挑戦に取り組むことができる人材を求めています。<br>
            当社では、建築リノベーションの分野で活躍するための環境を整えています。<br>
            クリエイティブなアイディアと最新の技術を駆使し、お客様に最高品質のサービスを提供しています。<br>
            私たちは仕事に情熱を持ち、自己成長を追求する意欲のある人々と一緒に働きたいと考えています。<br>
            もし、建築やデザインに興味を持っている方、お客様の笑顔を実現するために真摯に取り組める方、そしてチームの一員としての貢献意欲をお持ちの方は、ぜひ私たちの仲間になってください。
          </p>
        </div>
      </div>
    </div>

    <div class="p-recruit-job">
      <h2 class="p-recruit-job__title c-title">
        <span class="c-title__main">RECRUIT</span>
        <span class="c-title__sub c-title__sub c-title-sub--large">採用情報</span>
      </h2>
      <div class="p-recruit-job__inner l-container l-container--recruit-job">
        <ul class="p-recruit-job__list">
          <li class="p-recruit-job__item">
            <h3 class="p-recruit-job__sub-head">建築デザイナー</h3>
            <figure class="p-recruit-job__thumb">
              <img src="/assets/images/img-recruit-job1.webp" alt="">
            </figure>
            <p class="p-recruit-job__text">
              高級住宅やリノベーションプロジェクトのデザインを担当します。クライアントの要望をヒアリングし、独創的なアイディアを提案することで、美しい空間と機能性を実現します。建築の知識やデザインスキルを活かし、ユニークなプロジェクトに取り組むことができます。
            </p>
          </li>
          <li class="p-recruit-job__item">
            <h3 class="p-recruit-job__sub-head">建築プロジェクトマネージャー</h3>
            <figure class="p-recruit-job__thumb">
              <img src="/assets/images/img-recruit-job2.webp" alt="">
            </figure>
            <p class="p-recruit-job__text">
              高級住宅やリノベーションプロジェクトのデザインを担当します。クライアントの要望をヒアリングし、独創的なアイディアを提案することで、美しい空間と機能性を実現します。建築の知識やデザインスキルを活かし、ユニークなプロジェクトに取り組むことができます。
            </p>
          </li>
          <li class="p-recruit-job__item">
            <h3 class="p-recruit-job__sub-head">建築施工スタッフ</h3>
            <figure class="p-recruit-job__thumb">
              <img src="/assets/images/img-recruit-job3.webp" alt="">
            </figure>
            <p class="p-recruit-job__text">
              高級住宅やリノベーションプロジェクトのデザインを担当します。クライアントの要望をヒアリングし、独創的なアイディアを提案することで、美しい空間と機能性を実現します。建築の知識やデザインスキルを活かし、ユニークなプロジェクトに取り組むことができます。
            </p>
          </li>
        </ul>
      </div>
    </div>

    <div class="p-recruit-flow">
      <h2 class="p-recruit-flow__title c-title">
        <span class="c-title__main">FLOW</span>
        <span class="c-title__sub c-title__sub c-title-sub--large">選考フロー</span>
      </h2>
      <div class="p-recruit-flow__inner l-container--recruit-flow">
        <ul class="p-recruit-flow__list">
          <li class="p-recruit-flow__item">
            <div class="p-recruit-flow__number">
              <span>01</span>
            </div>
            <div class="p-recruit-flow__body">
              <h3 class="p-recruit-flow__sub-head">エントリー</h3>
              <p class="p-recruit-flow__text">当社新卒採用HP、マイナビ、外資就活よりエントリー受付</p>
            </div>
          </li>
          <li class="p-recruit-flow__item">
            <div class="p-recruit-flow__number">
              <span>02</span>
            </div>
            <div class="p-recruit-flow__body">
              <h3 class="p-recruit-flow__sub-head">ＥＳ提出・適性検査</h3>
              <p class="p-recruit-flow__text">マイページでエントリーシート(ES)を提出後、順次<br>適性検査を受検をお願いいたします。</p>
            </div>
          </li>
          <li class="p-recruit-flow__item">
            <div class="p-recruit-flow__number">
              <span>03</span>
            </div>
            <div class="p-recruit-flow__body">
              <h3 class="p-recruit-flow__sub-head">ＥＳ提出・適性検査</h3>
              <p class="p-recruit-flow__text">マイページでエントリーシート(ES)を提出後、順次<br class="u-hidden-pc">適性検査を受検をお願いいたします。</p>
            </div>
          </li>
          <li class="p-recruit-flow__item">
            <div class="p-recruit-flow__number">
              <span>04</span>
            </div>
            <div class="p-recruit-flow__body">
              <h3 class="p-recruit-flow__sub-head">1次面接</h3>
              <p class="p-recruit-flow__text">オンライン上で行います。</p>
            </div>
          </li>
          <li class="p-recruit-flow__item">
            <div class="p-recruit-flow__number">
              <span>05</span>
            </div>
            <div class="p-recruit-flow__body">
              <h3 class="p-recruit-flow__sub-head">２次面接</h3>
              <p class="p-recruit-flow__text">対面で行います。</p>
            </div>
          </li>
          <li class="p-recruit-flow__item">
            <div class="p-recruit-flow__number">
              <span>06</span>
            </div>
            <div class="p-recruit-flow__body">
              <h3 class="p-recruit-flow__sub-head">最終面接</h3>
              <p class="p-recruit-flow__text">対面で行います。</p>
            </div>
          </li>
        </ul>

        <p class="p-recruit-flow__offer">内々定</p>

        <div class="p-recruit-flow__button">
          <a href="#">ENTRY</a>
        </div>
      </div>
    </div>


  </section>
</Layout>