---
import Layout from '../layouts/Layout.astro';
---

<Layout title="about">
  <div class="c-bg c-bg--service">
    <h2 class="c-title c-title--absolute">
      <span class="c-title__main">SERVICE</span>
      <span class="c-title__sub u-margin--1">サービス</span>
    </h2>
  </div>

  <section class="p-service-row">
    <div class="p-service-row__inner l-container l-container--service">
      <ul class="p-servie-row__list">
        <li class="p-service-row__item l-grid l-grid-service">
          <h3 class="p-service-row__title">オーダーメイド</h3>
          <div class="p-service-row__thumb">
            <img src="/assets/images/img-service1.webp" alt="">
          </div>
          <div class="p-service-row__textArea">
            <p>私たちはお客様の夢や要望に基づいて、完全にカスタマイズされた住まいを提供しています。一流の建築家とデザイナーがあなたの要望をくみ取り、独創的なアイディアと最新技術を駆使して、唯一無二の住まいを実現いたします。間取りや外観、内装デザインなど、細部にわたるカスタマイズが可能です。私たちと一緒に夢の住まいを形にしましょう。</p>
          </div>
        </li>
        <li class="p-service-row__item p-service-row__item--reverse l-grid l-grid-service l-grid l-grid-service--reverse">
          <h3 class="p-service-row__title">コーディネート</h3>

          <div class="p-service-row__thumb">
            <img src="/assets/images/img-service2.webp" alt="">
            <div class="p-service-row__thumb-second">
              <img src="/assets/images/img-servic_sub.webp" alt="">
            </div>
          </div>
          <div class="p-service-row__textArea">
            <p>私たちは住まいのコーディネートにも力を入れています。インテリアデザイナーやスペースプランナーが、お客様の好みやライフスタイルに合わせて調和の取れた内装を提案します。カラーコーディネーション、家具の配置、照明計画など、全体のバランスと美しさを追求します。私たちのコーディネートによって、住まいはより魅力的で快適な空間へと変わります。</p>
          </div>
        </li>
        <li class="p-service-row__item l-grid l-grid-service">
          <h3 class="p-service-row__title">ライフプランニング</h3>
          <div class="p-service-row__thumb">
            <img src="/assets/images/img-service3.webp" alt="">
          </div>
          <div class="p-service-row__textArea">
            <p>私たちはお客様の将来を見据えたライフプランニングもサポートします。ライフステージや家族構成、将来の夢や目標に合わせて、住まいを計画します。将来の拡張や改装を考慮した設計、バリアフリーの導入、エネルギー効率の向上など、長期的な視点での提案を行います。私たちのライフプランニングによって、住まいはあなたの人生に寄り添いながら成長していくことができます。</p>
          </div>
        </li>
      </ul>
    </div>
  </section>

</Layout>