<footer class="l-footer">
  <div class="l-footer__inner l-container">
    <div class="l-footer__top" >
      <ul class="l-footer__list">
        <li class="l-footer__item">
          <a href="/">私たちについて</a>
        </li>
        <li class="l-footer__item">
          <a href="/">サービス</a>
        </li>
        <li class="l-footer__item">
          <a href="/">ニュース</a>
        </li>
        <li class="l-footer__item">
          <a href="/">Q&A</a>
        </li>
      </ul>

      <div class="l-footer__buttons">
        <div class="l-footer__button">
          <a href="recruit.html" class="c-button c-button--small">採用情報</a>
        </div>
        <div class="l-footer__button">
          <a href="contact.html" class="c-button c-button--small">お問い合わせ</a>
        </div>
      </div>

      <h2 class="l-footer__title">APLUS</h2>
      <div class="l-footer__logo">
        <a href="/">
          <img src="/assets/images/logo.svg" alt="APLUS">
        </a>
      </div>

      <address class="l-footer__address">
        株式会社APLUS<br>
        〒105-0004<br>
        東京都千代田区神田<br>
        9:00AM—6:00PM （水曜日定休）<br>
      </address>
      <div class="l-footer__arrow js-arrow">
        <img src="/assets/images/top-arrow.webp" alt="">
      </div>
    </div>
  </div>
  <div class="l-footer__copyright">
    <p>Copyright © A PLUS All Rights Reserved.</p>
  </div>
</footer>