---
---

<header class="l-header">
  <div class="l-header__inner">
    <div class="l-header__logo">
      <a href="/">
        <img src="/assets/images/logo.svg" alt="U FIT" />
      </a>
    </div>

    <nav class="l-header__nav">
      <ul class="l-header__list js-list">
        <li class="l-header__item">
          <a class="l-header__link js-link" href="#feature">私たちについて</a>
        </li>
        <li class="l-header__item">
          <a class="l-header__link js-link" href="#service">サービス</a>
        </li>
        <li class="l-header__item">
          <a class="l-header__link js-link" href="#news">ニュース</a>
        </li>
        <li class="l-header__item">
          <a class="l-header__link js-link" href="#faq">Q&A</a>
        </li>
        <li class="l-header__item l-header__item--button">
          <a class="l-header__link c-button" href="recruit.html">採用情報</a>
        </li>
        <li class="l-header__item l-header__item--button">
          <a class="l-header__link c-button" href="contact.html">お問い合わせ</a
          >
        </li>
      </ul>
    </nav>

    <div class="l-header__buttons">
      <div class="l-header__button">
        <a href="recruit.html" class="c-button c-button--small c-button--small"
          >採用情報</a
        >
      </div>
      <div class="l-header__button">
        <a href="contact.html" class="c-button c-button--small c-button--small"
          >お問い合わせ</a
        >
      </div>
    </div>

    <button class="l-header__hamburger js-hamburger">
      <span></span>
      <span></span>
      <span></span>
    </button>
  </div>
</header>
