---
import Header from "./Header.astro";
import Footer from "./Footer.astro";
import "../styles/style.scss";
import "./LocalScripts.astro";
import { gsap } from "gsap";
const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{title}</title>
  </head>
  <body>
    <div class="loader">
      <span class="loader__col loader__col1"></span>
      <span class="loader__col loader__col2"></span>
      <span class="loader__col loader__col3"></span>
      <span class="loader__col loader__col4"></span>
      <span class="loader__col loader__col5"></span>
    </div>
    <Header />
    <main class="l-main">
      <slot />
    </main>
    <Footer />
    <script is:inline src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.2/gsap.min.js"></script>
    <script is:inline type="module" src="/assets/js/swiper.js"></script>
    <script type="module" src="/assets/js/modal.js"></script>
    <script type="module" src="/assets/js/gsap.js"></script>
    <script type="module" src="/assets/js/index.js"></script>


  </body>
</html>
